:root {
  --primary-color: #32bea6;
  --primary-color-lighter: rgb(131,230,203);
  --black: black;
  --white: white;
  --fade: rgb(36, 35, 35);
  --border-radius-mini: 5px;
  --full: 100%;
  --wrapper-max-width: 1366px;
  --wrapper-min-width: 240px;
}
