:root {
  --primary-color: #32bea6;
  --primary-color-lighter: rgb(131,230,203);
  --black: black;
  --white: white;
  --fade: #ccc;
  --border-radius-mini: 5px;
  --full: 100%;
  --wrapper-max-width: 1680px;
  --wrapper-min-width: 240px;
}
