.home_container {
  width: 90%;
  display: flex;
  margin: 0 auto;
  min-height: calc(100vh - 105px);

  &__nominations {
    flex: 1;
    border-right: 1px solid var(--fade);
    padding: 45px 20px 32px 0px;
    overflow-y: auto;
  }

  &__movies {
    width: 73%;
    max-width: 900px;
    padding: 32px 0 32px 30px;

    .text_lead {
      margin-bottom: 35px;

      h1 {
        font-size: 1.5rem;
        text-transform: capitalize;
      }
    }

    .nomination_limit_exceeded {
      margin-bottom: 35px;
      display: flex;
      align-items: center;
      background: var(--danger);
      max-width: 500px;
      justify-content: space-evenly;
      height: 80px;
      font-weight: bold;
      padding: 0 10px;

      &::before {
        content: '';
        background: url('../../../assets/icons/exclamation-mark.svg') no-repeat
          center;
        background-size: cover;
        width: 25px;
        height: 25px;
        flex-shrink: 0;
        margin-right: 16px;
      }
    }

    .input_search_wrapper {
      width: var(--full);
      position: relative;
      display: flex;
      align-items: center;

      &::before {
        content: '';
        width: 16px;
        height: 16px;
        background: url('../../../assets/icons/search.svg') no-repeat center;
        background-size: cover;
        flex-shrink: 0;
        position: absolute;
        left: 16px;
      }

      input {
        padding: 13px 10px 13px 40px;
      }
    }
  }
}

@media (max-width: 750px) {
  .home_container {
    &__nominations {
      background: var(--black);
      position: fixed;
      left: -100%;
      bottom: 0;
      top: 60px;
      width: var(--full);
      max-height: none;
      padding: 32px 10px;
      transition: all 0.4s ease-in-out;
      z-index: 100;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &._show {
        left: 0;
      }
    }

    &__movies {
      width: var(--full);
      padding: 32px 0;

      .text_lead {
        text-align: center;
      }

      .nomination_limit_exceeded {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
