.nominations {
  width: var(--full);

  &__header {
    width: var(--full);

    h2 {
      font-size: 1.2rem;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 750px) {
  .nominations {
    &__header {
      text-align: center;
    }
  }
}
