.header {
  width: var(--full);
  border-bottom: 1.5px solid var(--fade);
  height: 60px;
  background: var(--black);

  nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 7px 0;
    height: var(--full);

    .shoppies_logo {
      width: 130px;
      height: 58px;

      > img {
        width: var(--full);
        height: var(--full);
      }
    }

    .hamburger_btn {
      display: none;
      position: relative;

      > button {
        background: transparent;
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        cursor: pointer;

        svg {
          width: var(--full);
          height: var(--full);
        }
      }

      > span {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--primary-color);
        display: block;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        position: absolute;
        top: 0;
        right: -10px;
      }
    }
  }
}

@media (max-width: 750px) {
  .header {
    &.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 200;
    }

    nav {
      .shoppies_logo {
        width: 115px;
      }

      .hamburger_btn {
        display: block;
      }
    }
  }
}
